@{
    ViewData["Title"] = "MapView";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css" />
<script type="module" src="~/js/map_script_bundle.js"></script>

<div class="row h-100">

    <div class="col-lg-8">
        <div id="map" class="map"></div>
    </div>

    <div class="col-lg-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-draw-tab" data-bs-toggle="tab" data-bs-target="#nav-draw" type="button" role="tab" aria-controls="nav-draw" aria-selected="true">Draw</button>
                <button class="nav-link" id="nav-management-tab" data-bs-toggle="tab" data-bs-target="#nav-management" type="button" role="tab" aria-controls="nav-management" aria-selected="false">Management</button>
                <button class="nav-link" id="nav-work-start-tab" data-bs-toggle="tab" data-bs-target="#nav-work-start" type="button" role="tab" aria-controls="nav-work-start" aria-selected="false">Work start</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-draw" role="tabpanel" aria-labelledby="nav-draw-tab">

                <button id="draw-polygon-btn" type="button" class="btn btn-primary">Draw area</button>
                <button id="draw-point-btn" type="button" class="btn btn-primary">Add loading point</button>
                <hr />
                <button id="undo-btn" type="button" class="btn btn-primary"><img src="~/data/undo_symbol.png" width="24" height="24" />Undo last</button>
                <hr />
                <button id="cancel-draw-btn" type="button" class="btn btn-primary">Cancel drawing</button>
                <hr />
                <button id="clear-all-new-btn" type="button" class="btn btn-primary">Clear all new</button>
                <hr />
                <button id="clear-last-feature-btn" type="button" class="btn btn-primary">Clear last added</button>
                <hr />
                <button id="set-loading-point-btn" type="button" class="btn btn-primary">Set loading point</button>

            </div>

            <div class="tab-pane fade" id="nav-management" role="tabpanel" aria-labelledby="nav-management-tab">

                <button id="import-btn" type="button" class="btn btn-primary">Import area</button>
                <hr />
                <button id="management-select-btn" type="button" class="btn btn-primary">Select area</button>
                <hr />
                <form id="export-form" action="/Map/Export" style="display: none">

                    <div id="area-name-group" class="form-group" style="display: none">
                        <label for="area-name" class="form-label">Area name:</label>
                        <input type="text" class="form-control" id="area-name" name="area-name" placeholder="area_1" />
                    </div>

                    <div id="point-name-group" class="form-group" style="display: none">
                        <label for="point-name" class="form-label">Loading point name:</label>
                        <input type="text" class="form-control" id="point-name" name="point-name" placeholder="point_1" />
                    </div>

                    <button type="submit" id="export-btn" class="btn btn-success">Export</button>
                </form>
                <hr />
                <button id="delete-feature-btn" type="button" class="btn btn-primary" style="display: none">Delete feature</button>

            </div>

            <div class="tab-pane fade" id="nav-work-start" role="tabpanel" aria-labelledby="nav-work-start-tab">

                <form id="delete-work-plan-form" role="form">
                    <div class="form-group">
                        <button type="button" id="create-work-plan-btn" class="btn btn-success">
                            Створити план
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="select-work-plan">
                            Назва плану
                        </label>
                        <select class="form-select" id="select-work-plan" name="work-plan">
                            <option value="None" hidden>[Обрати]</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" id="start-work-plan-btn" class="btn btn-success">
                            Запустити план
                        </button>
                    </div>

                    <div class="form-group">
                        <button type="button" id="update-work-plan-btn" class="btn btn-primary">
                            Оновити план
                        </button>
                    </div>

                    <button type="submit" class="btn btn-danger">
                        Видалити план
                    </button>
                </form>

                <form id="create-work-plan-form" style="display: none">
                    <div class="form-group">
                        <label for="work-plan-name-create-work-plan" class="form-label">Назва плану:</label>
                        <input type="text" class="form-control" id="work-plan-name-create-work-plan" name="work-plan-name" />
                    </div>

                    <div class="form-group">
                        <label for="area-name-create-work-plan" class="form-label">Назва робочої області:</label>
                        <input type="text" class="form-control" id="area-name-create-work-plan" name="area-name" readonly />
                        <button id="select-area-create-work-plan-btn" type="button" class="btn btn-primary">Select area</button>
                    </div>

                    <div class="form-group">
                        <label for="point-name-create-work-plan" class="form-label">Назва точки завантаження:</label>
                        <input type="text" class="form-control" id="point-name-create-work-plan" name="point-name" readonly />
                        <button id="select-point-create-work-plan-btn" type="button" class="btn btn-primary">Select point</button>
                    </div>

                    <div class="form-group">
                        <label for="select-drone-create-work-plan">
                            Дрон:
                        </label>
                        <select class="form-select" id="select-drone-create-work-plan" name="drone-name">
                            <option value="None" hidden>[Обрати]</option>
                        </select>
                    </div>

                    <div id="spraying-swath-width-create-work-plan-group" class="form-group" style="display: none;">
                        <label for="spraying-swath-width-create-work-plan" class="form-label">Ширина смуги обприскування [м]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.5" value="0" id="spraying-swath-width-create-work-plan" name="spraying-swath-width">
                            </div>
                            <div class="col-6">
                                <span id="spraying-swath-width-create-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div id="flow-rate-create-work-plan-group" class="form-group" style="display: none;">
                        <label for="flow-rate-create-work-plan" class="form-label">Об'ємна витрата [л/хв]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.5" value="0" id="flow-rate-create-work-plan" name="flow-rate">
                            </div>
                            <div class="col-6">
                                <span id="flow-rate-create-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div id="drone-speed-create-work-plan-group" class="form-group" style="display: none;">
                        <label for="drone-speed-create-work-plan" class="form-label">Швидкість дрона [м/с]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.1" value="0" id="drone-speed-create-work-plan" name="drone-speed">
                            </div>
                            <div class="col-6">
                                <span id="drone-speed-create-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Створити
                        </button>
                    </div>

                    <div class="form-group">
                        <button type="button" id="back-from-create-work-plan-btn" class="btn btn-secondary">
                            Назад
                        </button>
                    </div>
                </form>

                <form id="update-work-plan-form" style="display: none">
                    <div class="form-group">
                        <label for="work-plan-name-update-work-plan-old" class="form-label">Назва плану (стара):</label>
                        <input type="text" class="form-control" id="work-plan-name-update-work-plan-old" name="work-plan-name" readonly />
                    </div>

                    <div class="form-group">
                        <label for="work-plan-name-update-work-plan" class="form-label">Нова назва плану:</label>
                        <input type="text" class="form-control" id="work-plan-name-update-work-plan" name="new-work-plan-name" />
                    </div>

                    <div class="form-group">
                        <label for="area-name-update-work-plan" class="form-label">Назва робочої області:</label>
                        <input type="text" class="form-control" id="area-name-update-work-plan" name="area-name" readonly />
                        <button id="select-area-update-work-plan-btn" type="button" class="btn btn-primary">Обрати область</button>
                    </div>

                    <div class="form-group">
                        <label for="point-name-update-work-plan" class="form-label">Назва точки завантаження:</label>
                        <input type="text" class="form-control" id="point-name-update-work-plan" name="point-name" readonly />
                        <button id="select-point-update-work-plan-btn" type="button" class="btn btn-primary">Обрати точку</button>
                    </div>

                    <div class="form-group">
                        <label for="select-drone-update-work-plan">
                            Дрон:
                        </label>
                        <select class="form-select" id="select-drone-update-work-plan" name="drone-name">
                            <option value="None" hidden>[Обрати]</option>
                        </select>
                    </div>

                    <div id="spraying-swath-width-update-work-plan-group" class="form-group" style="display: none;">
                        <label for="spraying-swath-width-update-work-plan" class="form-label">Ширина смуги обприскування [м]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.5" value="0" id="spraying-swath-width-update-work-plan" name="spraying-swath-width">
                            </div>
                            <div class="col-6">
                                <span id="spraying-swath-width-update-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div id="flow-rate-update-work-plan-group" class="form-group" style="display: none;">
                        <label for="flow-rate-update-work-plan" class="form-label">Об'ємна витрата [л/хв]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.5" value="0" id="flow-rate-update-work-plan" name="flow-rate">
                            </div>
                            <div class="col-6">
                                <span id="flow-rate-update-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div id="drone-speed-update-work-plan-group" class="form-group" style="display: none;">
                        <label for="drone-speed-update-work-plan" class="form-label">Швидкість дрона [м/с]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="0" max="1" step="0.1" value="0" id="drone-speed-update-work-plan" name="drone-speed">
                            </div>
                            <div class="col-6">
                                <span id="drone-speed-update-work-plan-value-span"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Оновити
                        </button>
                    </div>

                    <div class="form-group">
                        <button type="button" id="back-from-update-work-plan-btn" class="btn btn-secondary">
                            Назад
                        </button>
                    </div>
                </form>


            </div>

        </div>


    </div>
</div>

