@{
    ViewData["Title"] = "MapView";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css" />
<script type="module" src="~/js/map_script_bundle.js"></script>

<div class="row h-100">

    <div class="col-lg-8">
        <div id="map" class="map"></div>
    </div>

    <div class="col-lg-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-draw-tab" data-bs-toggle="tab" data-bs-target="#nav-draw" type="button" role="tab" aria-controls="nav-draw" aria-selected="true">Draw</button>
                <button class="nav-link" id="nav-management-tab" data-bs-toggle="tab" data-bs-target="#nav-management" type="button" role="tab" aria-controls="nav-management" aria-selected="false">Management</button>
                <button class="nav-link" id="nav-work-start-tab" data-bs-toggle="tab" data-bs-target="#nav-work-start" type="button" role="tab" aria-controls="nav-work-start" aria-selected="false">Work start</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-draw" role="tabpanel" aria-labelledby="nav-draw-tab">

                <button id="draw-polygon-button" type="button" class="btn btn-primary">Draw area</button>
                <button id="draw-point-button" type="button" class="btn btn-primary">Add loading point</button>
                <hr />
                <button id="undo-button" type="button" class="btn btn-primary"><img src="~/data/undo_symbol.png" width="24" height="24"/>Undo last</button>
                <hr />
                <button id="cancel-draw-button" type="button" class="btn btn-primary">Cancel drawing</button>
                <hr />
                <button id="clear-all-new-button" type="button" class="btn btn-primary">Clear all new</button>
                <hr />
                <button id="clear-last-feature-button" type="button" class="btn btn-primary">Clear last added</button>
                <hr />
                <button id="set-loading-point-button" type="button" class="btn btn-primary">Set loading point</button>

            </div>

            <div class="tab-pane fade" id="nav-management" role="tabpanel" aria-labelledby="nav-management-tab">

                <button id="import-button" type="button" class="btn btn-primary">Import area</button>
                <hr />
                <button id="management-select-button" type="button" class="btn btn-primary">Select area</button>
                <hr />
                <form id="export-form" action="/Map/Export" method="post" style="display: none">

                    <div id="area-name-group" class="form-group" style="display: none">
                        <label for="area-name" class="form-label">Area name:</label>
                        <input type="text" class="form-control" id="area-name" name="area-name" placeholder="area_1" />
                    </div>
                    
                    <div id="point-name-group" class="form-group" style="display: none">
                        <label for="point-name" class="form-label">Loading point name:</label>
                        <input type="text" class="form-control" id="point-name" name="point-name" placeholder="point_1" />
                    </div>

                    <button type="submit" id="export-button" class="btn btn-success">Export</button>
                </form>
                <hr />
                <button id="delete-feature-button" type="button" class="btn btn-primary" style="display: none">Delete feature</button>

            </div>

            <div class="tab-pane fade" id="nav-work-start" role="tabpanel" aria-labelledby="nav-work-start-tab">

                <button id="select-area-work-plan-button" type="button" class="btn btn-primary">Select area</button>
                <hr />
                <form id="work-plan-form" method="get" style="display: none">

                    <div id="area-name-work-plan-group" class="form-group">
                        <label for="area-name-work-plan" class="form-label">Area name:</label>
                        <input type="text" class="form-control" id="area-name-work-plan" name="area-name-work-plan" disabled />
                    </div>
                    
                    <div id="point-name-work-plan-group" class="form-group">
                        <label for="point-name-work-plan" class="form-label">Loading point name:</label>
                        <input type="text" class="form-control" id="point-name-work-plan" name="point-name-work-plan" disabled />
                    </div>

                    <div id="spraying-swath-width-work-plan-group" class="form-group">
                        <label for="spraying-swath-width-work-plan" class="form-label">Spraying swath width [m]:</label>
                        <div class="row">
                            <div class="col-6">
                                <input type="range" class="form-range" min="4" max="8" step="0.5" value="4" id="spraying-swath-width-work-plan" name="spraying-swath-width-work-plan">
                            </div>
                            <div class="col-6">
                                <span id="spraying-swath-width-work-plan-value-span">4</span>
                            </div>
                        </div>
                    </div>

                    <button id="build-trajectory-button" type="button" class="btn btn-primary">Build trajectory</button>
                    <hr />

                    <button type="submit" id="submit-button-work-plan" class="btn btn-success">Export work plan</button>
                </form>

            </div>

        </div>


    </div>
</div>

<div class="row">
</div>

