.container-fluid.main > main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000020;
}

.container.login-reg {
    max-width: 400px;
    padding: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #101040;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.container.login-reg > h2 {
    font-size: calc(20px * 1.75);
}
