@import "/node_modules/ol/ol.css";

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    height: 100%;
}

html,
body {
    margin: 0;
    background-color: #000020;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #000030;
    color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 24px;
}

footer {
    width: 100%;
    line-height: 60px;
    flex-grow: 0;
    flex-shrink: 1;
}

.container-fluid.main {
    flex: 1;
}

.map {
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: block;
    border: 2px solid white;
}

.form {
    height: 100%;
    background-color: lightgreen;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #a9a9a9;
}

.btn {
    height: 40px;
    margin: 5px 5px 5px 5px;
}

.tooltip {
    white-space: pre-line;
}

/*.tooltip .tooltiptext {
    color: white;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}*/

.hover-effect {
    opacity: 0.7;
}

.hover-effect:hover {
    opacity: 1;
}

.dropdown-menu-dark {
    background-color: #101050;
}

.alert-tab {
    display: flex;
/*    flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    z-index: 100;
}

.alert {
    display: none;
    min-width: 400px;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin: 0 50px 0 50px;
    font-size: 18px;
}