@import "/node_modules/ol/ol.css";

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    height: 100%;
}

html,
body {
    font-size: 14px;
    margin: 0;
    background-color: #000020;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #000030;
    color: white;
}

footer {
    width: 100%;
    line-height: 60px;
    flex-grow: 0;
    flex-shrink: 1;
}

.container-fluid.main {
    flex: 1;
}

.map {
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: block;
    border: 2px solid red;
}

.form {
    height: 100%;
    background-color: lightgreen;
}

.btn {
    height: 40px;
}
