@{
    ViewData["Title"] = "DronesView";
}
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="~/js/drones_script.js"></script>
<link rel="stylesheet" href="~/css/drones_view_style.css" type="text/css" />

<div class="row h-100">

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-manage-drone-types-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-drone-types" type="button" role="tab" aria-controls="nav-manage-drone-types" aria-selected="true">Керувати типами дронів</button>
                <button class="nav-link" id="nav-add-drone-type-tab" data-bs-toggle="tab" data-bs-target="#nav-add-drone-type" type="button" role="tab" aria-controls="nav-add-drone-type" aria-selected="false">Додати тип дрона</button>
                <button class="nav-link" id="nav-manage-drones-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-drones" type="button" role="tab" aria-controls="nav-manage-drones" aria-selected="false">Керувати дронами</button>
                <button class="nav-link" id="nav-add-drone-tab" data-bs-toggle="tab" data-bs-target="#nav-add-drone" type="button" role="tab" aria-controls="nav-add-drone" aria-selected="false">Додати дрон</button>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade" id="nav-manage-drone-types" role="tabpanel" aria-labelledby="nav-manage-drone-types-tab">
                        <form id="delete-drone-type-form" role="form">

                            <div class="form-group">
                                <label for="manage-drone-type">
                                    Тип дрона:
                                </label>
                                <select class="form-select" id="manage-drone-type" name="drone-type-name">
                                    <option value="None" hidden>None</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="button" id="update-drone-type-btn" class="btn btn-primary">
                                    Редагувати
                                </button>
                            </div>

                            <button type="submit" class="btn btn-danger">
                                Видалити
                            </button>
                        </form>

                        <form id="update-drone-type-form" role="form" style="display: none">
                            <div class="form-group">
                                <label for="update-drone-type-name-old">
                                    Назва типу дрона (стара):
                                </label>
                                <input type="text" class="form-control" id="update-drone-type-name-old" name="drone-type-name" readonly />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-type-name">
                                    Назва типу дрона (нова):
                                </label>
                                <input type="text" class="form-control" id="update-drone-type-name" name="new-drone-type-name" />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-tank-volume">
                                    Об'єм бака дрона [л]:
                                </label>
                                <input type="number" step="any" class="form-control" id="update-drone-tank-volume" name="new-drone-tank-volume" />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-spray-swath-width-min">
                                    Ширина смуги обприскування (мін/макс) [м]:
                                </label>
                                <input type="number" step="any" class="form-control" placeholder="Min" id="update-drone-spray-swath-width-min" name="new-drone-spray-swath-width-min" />
                                <input type="number" step="any" class="form-control" placeholder="Max" id="update-drone-spray-swath-width-max" name="new-drone-spray-swath-width-max" />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-flow-rate-min">
                                    Об'ємна витрата (мін/макс) [л/хв]:
                                </label>
                                <input type="number" step="any" class="form-control" placeholder="Min" id="update-drone-flow-rate-min" name="new-drone-flow-rate-min" />
                                <input type="number" step="any" class="form-control" placeholder="Max" id="update-drone-flow-rate-max" name="new-drone-flow-rate-max" />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-speed-max">
                                    Максимальна швидкість дрона [м/с]:
                                </label>
                                <input type="number" class="form-control" placeholder="Max" id="update-drone-speed-max" name="new-drone-speed-max" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Зберегти
                                </button>
                            </div>

                            <div class="form-group">
                                <button type="button" id="back-drone-type-btn" class="btn btn-secondary">
                                    Назад
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-add-drone-type" role="tabpanel" aria-labelledby="nav-add-drone-type-tab">
                        <form id="add-drone-type-form" role="form">
                            <div class="form-group">
                                <label for="drone-name">
                                    Назва типу дрона:
                                </label>
                                <input type="text" class="form-control" id="drone-type-name" name="drone-type-name" />
                            </div>

                            <div class="form-group">
                                <label for="drone-tank-volume">
                                    Об'єм бака дрона [л]:
                                </label>
                                <input type="number" step="any" class="form-control" id="drone-tank-volume" name="drone-tank-volume" />
                            </div>

                            <div class="form-group">
                                <label for="drone-spray-swath-width-min">
                                    Ширина смуги обприскування (мін/макс) [м]:
                                </label>
                                <input type="number" step="any" class="form-control" placeholder="Min" id="drone-spray-swath-width-min" name="drone-spray-swath-width-min" />
                                <input type="number" step="any" class="form-control" placeholder="Max" id="drone-spray-swath-width-max" name="drone-spray-swath-width-max" />
                            </div>

                            <div class="form-group">
                                <label for="drone-flow-rate-min">
                                    Об'ємна витрата (мін/макс) [л/хв]:
                                </label>
                                <input type="number" step="any" class="form-control" placeholder="Min" id="drone-flow-rate-min" name="drone-flow-rate-min" />
                                <input type="number" step="any" class="form-control" placeholder="Max" id="drone-flow-rate-max" name="drone-flow-rate-max" />
                            </div>

                            <div class="form-group">
                                <label for="drone-speed-max">
                                    Максимальна швидкість дрона [м/с]:
                                </label>
                                <input type="number" class="form-control" placeholder="Max" id="drone-speed-max" name="drone-speed-max" />
                            </div>

                            <button type="submit" class="btn btn-primary">
                                Додати
                            </button>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-manage-drones" role="tabpanel" aria-labelledby="nav-manage-drones-tab">
                        <form id="delete-drone-form" role="form">

                            <div class="form-group">
                                <label for="manage-drone-name">
                                    Назва дрона:
                                </label>
                                <select class="form-select" id="manage-drone-name" name="drone-name">
                                    <option value="None" hidden>None</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="button" id="update-drone-btn" class="btn btn-primary">
                                    Редагувати
                                </button>
                            </div>

                            <button type="submit" class="btn btn-danger">
                                Видалити
                            </button>
                        </form>

                        <form id="update-drone-form" role="form" style="display: none">
                            <div class="form-group">
                                <label for="update-drone-name-old">
                                    Назва дрона (стара):
                                </label>
                                <input type="text" class="form-control" id="update-drone-name-old" name="drone-name" readonly />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-name">
                                    Назва дрона (нова):
                                </label>
                                <input type="text" class="form-control" id="update-drone-name" name="new-drone-name" />
                            </div>

                            <div class="form-group">
                                <label for="update-drone-type-name">
                                    Тип дрона:
                                </label>
                                <select class="form-select" id="update-drone-type-name" name="new-drone-type-name">
                                    <option value="None" hidden>None</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Зберегти
                                </button>
                            </div>

                            <div class="form-group">
                                <button type="button" id="back-drone-btn" class="btn btn-secondary">
                                    Назад
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-add-drone" role="tabpanel" aria-labelledby="nav-add-drone-tab">
                        <form id="add-drone-form" role="form">
                            <div class="form-group">
                                <label for="drone-name">
                                    Назва дрона:
                                </label>
                                <input type="text" class="form-control" id="drone-name" name="drone-name" />
                            </div>

                            <div class="form-group">
                                <label for="drone-type">
                                    Тип дрона:
                                </label>
                                <select class="form-select" id="drone-type" name="drone-type-name">
                                    <option value="None" hidden>None</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                Додати
                            </button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="" id="info-board">
        </div>
    </div>

</div>