@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css" />
<script type="module" src="~/js/site.js"></script>

<div class="row">
    <div class="col-md-6">
        The world from my view
    </div>

    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>
