@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css" />
@*<script type="module" src="~/js/site.js"></script>*@
<script type="module" src="~/js/bundle.js"></script>

<div class="container">
    <div class="row">
        <div id="map" class="map"></div>
    </div>
    <div class="row">
            <button id="draw_button">Select area</button>
            <button id="cancel_draw_button">Cancel selection</button>
            <button id="undo_button">Undo selection</button>
    </div>
    @*<div style="height:200px; background-color:darkgreen"></div>*@
</div>
