@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<p>Last Updated: 03.12.2023*</p>

<p>Дякуємо за використання нашого веб застосунку AgroDroneGuard. Ця Політика конфіденційності пояснює, як ми збираємо, використовуємо та захищаємо вашу інформацію при використанні нашого застосунку.</p>

<h4>1. Cookie Use</h4>
<p>Наш веб застосунок не використовує файли cookie. Ми не збираємо жодної інформації про вас або ваше використання застосунку за допомогою цих технологій.
</p>
<h4>2. Personal Information Privacy</h4>
<p>
    Застосунок не збирає особистої інформації від користувачів. Всі дані, що обробляються, пов'язані виключно з господарськими об'єктами і зберігаються локально на пристроях користувачів.
</p>
<h4>3. Third-Party Disclosure</h4>
<p>
    Наш веб застосунок не передає жодної інформації третім сторонам. Ми гарантуємо повну конфіденційність всієї інформації, яку ви вводите чи зберігаєте в застосунку.
</p>
<h4>4. Storage and Security Information</h4>
<p>
    Інформація, що зберігається в застосунку, залишається локально на пристроях користувачів. Ми вживаємо всіх необхідних заходів для забезпечення безпеки цих даних.
</p>
<h4>5. Right of Users</h4>
<p>
    Користувачі мають право в будь-який момент звернутися до нас із запитаннями чи запитами щодо їхніх даних. Ми готові відповісти на всі ваші питання та допомогти вам з усією необхідною інформацією.
</p>
<h4>6. Future Updates and Changes</h4>
<p>
    Ми можемо час від часу оновлювати цю Політику конфіденційності для відображення змін у застосунку або змін в законодавстві. Будь ласка, періодично перевіряйте цю сторінку, щоб залишатися інформованими про наші практики.
</p>
<h4>7. Contact Information</h4>
<p>
    Якщо у вас є будь-які питання або зауваження щодо цієї Політики конфіденційності або використання застосунку, будь ласка, зв'яжіться з нами за адресою [контактна інформація]. Наша команда готова вам допомогти.
</p>
<p>
Дякуємо за довіру та використання AgroDroneGuard.
</p>